*.pem
test_key
.venv
.env
path/to/venv/
database/path/to/venv/
data/Mastodon/__pycache__/mastodon.cpython-312.pyc
.DS_Store/
data/.DS_Store
*./__pycache__/
data/Mastodon/.DS_Store
*/.ipynb_checkpoints
